/*顶部导航栏*/
header{border-bottom: 2px solid #FF4040;}
#sec1{width: 1230px;height: 40px;margin: 0 auto;border-bottom: 1px solid #EEE}
#sec1 li{list-style-type: none;display: inline-block;font-size: 12px;margin: 0 5px;}
#sec1 li a{text-decoration: none;color: #555555;}
#sec1 li a:hover{color: #FF4141;}
#sec1 li:nth-of-type(1) a{font-weight: bold;}
#sec1_li1{padding-left: 30px;}
#sec1_li1 img{vertical-align: middle;}
#sec1_li2{width: 26px;height: 15px;border: 1px solid #FF4040;color: #FF4040;line-height: 15px;}
#sec1_li3 input{ width: 76px;height: 15px;}
#sec1_li4 input{border: 0;background-color: #F0F0F0;color: #666666;width: 45px;height: 20px;}
#sec1_li5 input{background-color: #FF4141;border: 1px solid #DC0000;color: white;height: 20px;}
/*=============简单信息==============*/
/*------左侧*/
#sec2{width: 1230px;height: 450px;border: 1px solid #ffffff;margin: 0 auto;position: relative;}
#sec2_div1{width: 400px;height: 450px;position: absolute;top: 0;left: 0;}
#sec2_div1 ul{position: absolute;top: 430px;left: 30px;display: block;}
#sec2_div1 li{list-style-type: none;display: inline-block;border: 2px solid white;padding:5px;}
#sec2_div1 ul li{width: 370px;height: 370px;position: absolute;top:-400px;left: -18px;border: 1px solid #DDDDDD;box-sizing: border-box;padding: 5px;}
#sec2_div1 ul li img{width: 330px;height: 330px;}
#sec2_div11{position: absolute;top:420px;left: 20px;display: inline-block;}
#sec2_div11{font-size: 12px;color: #666666;}
#sec2_div11 input{margin-left: 80px;}
/*------中间*/
#sec2_div2{width: 580px;height: 450px;border-bottom: 1px solid #EEF;border-right: 1px solid #EEF;border-left: 1px solid #EEF;position: absolute;top: 0;left: 430px;}
#sec2_div2 p{font-size: 14px;color: #999999;margin: 10px;}
#sec2_div2 ul li{list-style-type: none;font-size: 12px;color: #666666;box-sizing: border-box;padding-left: 30px;}
#sec2_div2 ul li span{color: #FF875A;margin: 0 5px;}
#sec2_div2 ul li:first-child span:nth-of-type(1){font-size: 16px;;font-weight: bold;color: #E60012;margin: 0 5px;}
#sec2_div2 ul li:nth-of-type(2) span{color: #0066CC;margin: 0 5px;}
#s2_li1{height: 50px;background-color: #FDE5E0;border-top:2px solid #FFCBC4;line-height: 50px; }
#s2_li2{height: 40px;background-color: #FDE5E0;border-bottom:2px solid #FFCBC4;border-top:1px dotted #D7C3BF;line-height: 40px;}
#s2_li3{height: 32px;background-color: #FFF4F2;border-bottom:1px dotted #D7C3BF;line-height: 30px;}

.s2_dd2{display: inline-block;width: 160px;margin: 5px 8px;}
#shop_button{width: 120px;height: 40px;font-weight: 400;font-size: 18px;background-color: #ff0000;color: white;border: 0;border-radius:5px;margin: 100px 10px}
/*------右侧*/
#sec2_div3{width: 180px;height: 450px;border: 1px solid #FFF;position: absolute;top: 0;left: 1050px;}



