
/*发布购物信息*/
#shopmine_div{padding-top:30px;text-align: center;width: 60%;margin: 0 auto;min-height:400px;background-color: #FCFCFC}
#shopmine_div h2{margin:0  auto 30px}
#sm_d_d1{float: left;width: 200px; height: 200px;padding: 5px;border: 1px solid #DCDCDC}
#sm_d_d1 img{width: 150px;height: 200px;}

#sm_d_d2{margin-left: 50px;float: left;text-align: left}
.form_input{width:90px;height: 30px;border: 0;background-color: #f55f2c;font-weight: 400;font-size: 16px;color: white;border-radius: 5px}
.form_input:checked{border: 0;}